<a style="cursor: pointer;"
   class="list-group-item clearfix"
   [routerLink]="[index]" routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ channelItem.name }}</h4>
    <p class="list-group-item-text">Connected users: {{ channelItem.connectedUsers.length }}</p>
  </div>
  <span class="pull-right">
    <img src="https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/1024/messages_5122x.png"
          alt="{{ channelItem.name }}"
          class="img-responsive"
          style="max-height: 50px;">
  </span>
</a>
