
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div  class="text-center">
              <button type="button" class="btn btn-primary btn-block" [routerLink]="['/signin']">Sign In</button>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div  class="text-center">
              <button type="button" class="btn btn-success btn-block" [routerLink]="['/signup']">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>