<div class="row text-center">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Chat Challenge!</h1>
  </div>
</div>
<br>
<div class="row text-center">
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-block" [routerLink]="['/signin']">Sign In</button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success btn-block" [routerLink]="['/signup']">Sign Up</button>
  </div>
  <div class="col-md-4"></div>
</div>