<a style="cursor: pointer;" class="list-group-item clearfix">
  <div class="pull-left">
    <h5>{{ user.nickname }}</h5>
    <p class="text-muted"><small>Last message: 00:00</small></p>
  </div>
  <span class="pull-right">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Breezeicons-actions-22-im-user-online.svg/2000px-Breezeicons-actions-22-im-user-online.svg.png"
          alt="{{ user.nickname }}"
          class="img-responsive"
          style="max-height: 50px;">
  </span>
</a>